@import './helpers.css';
@import './cmps/app-header.css';
@import './pages/bug-edit.cmp.css';
@import './cmps/user-list.cmp.css';
@import './pages/bug-app.cmp.css';
@import './pages/user-admin.cmp.css';
@import './pages/bug-details.cmp.css';
@import './cmps/bug-preview.cmp.css';
@import './pages/user-details.cmp.css';
@import './cmps/bug-filter.cmp.css';
@import './pages/bug-entry-cmp.css';

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 245, 250);
    margin: 0 auto;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: brown;
    outline: none;
    transition: ease-in-out .3s;
}

button:hover{
    background-color: white;

}