.bug-filter-input{
    padding: 10px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    /* flex-grow: 1; */
    outline: none;
    width: 100%;
}

.bug-filter-input:hover{
    box-shadow: 2px 2px 12px -1px rgba(61, 61, 61, 1);

}

.bug-filter{
    flex-grow: 1;
    margin: 0px 20px;
}